textarea.inputBox__textArea {
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  font-family: Roboto, Arial, sans-serif;

  max-height: 75px;
  min-height: 38px;
  padding: 9px;
  box-sizing: border-box;
  font-size: 15px;
  width: 100%;
}

.inputBox {
  letter-spacing: 0.00625em;
  padding: 5px 20px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.22);
  border: solid transparent;
  border-radius: 10px;
}

::placeholder {
  color: black;
}

.inputBox__actionItems {
  display: flex;
  color: #212121;
  margin-top: 10px;
  cursor: pointer;
  justify-content: end;
}

span.inputBox__action {
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}

span.inputBox__action:hover {
  background-color: rgba(95, 99, 104, 0.039);
}

.inputBox__inputNotes {
  display: flex;
  text-align: center;
  min-height: 38px;
  align-items: center;
}

textarea.inputBox__textArea::placeholder {
  color: #4c4c4c;
  letter-spacing: 0.01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.inputBox__title {
  color: #656665;
  margin-bottom: 15px;
  letter-spacing: 0.00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

textarea.inputBox__textArea {
  padding: 0px;
  min-height: 0px;
}
