.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.close-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.close-button:hover {
  color: #f44336;
}

.modal-body {
  max-height: 250px;
  overflow: scroll;
}
