.header {
  position: fixed;
  display: flex;
  width: 100%;
  opacity: 1;
  background: transparent;
  z-index: 100;
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #dadce0;
  background-color: white;
}

.header__drawer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__searchSection {
  width: 50%;
}

.header__accountSections {
  border: solid transparent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  background-color: #f9bd00;
  text-align: center;
  display: flex;
}

.header__title {
  color: #5f6368;
  opacity: 1;
}

.header__image {
  display: flex;
  align-items: center;
}

.header__toolsSection {
  display: flex;
  justify-content: space-between;
  flex-basis: 10%;
  align-items: center;
}

.header__imageSection {
  display: flex;
  margin: 0 10px;
  gap: 10px;
}

.toolImg {
  padding: 10px;
  border-radius: 50%;
}

.toolImg:hover {
  background: lightgray;
}

.actionItem {
  cursor: pointer;
}

.header__title {
  font-size: 22px;
}

input#searchInput::placeholder {
  color: #6f7070;
}

.actionItem.drawer {
  border-radius: 50%;
  padding: 10px;
}

.actionItem.drawer:hover {
  background: lightgray;
}

.header__container.onScroll {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.header__selectedContainer {
  color: #3c4043;
  cursor: default;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin-left: 12px;
  // padding: 13px 0;
}

.header__selectedContainer.left {
  display: inline-flex;
}

.header__selectedContainer.right {
  display: inline-flex;
  margin: 0 20px;
  gap: 20px;
}

.selected-close__button {
  border: aliceblue;
  background: none;
  cursor: pointer;
}

.header__selected_action {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
}

.header__selected_action:hover {
  background: lightgray;
}
